@font-face {
    font-family: 'title-font';
    /* font-family: 'tarocaregular'; */
    src: url('assets/webfontkit/taroca_regular-webfont.woff2') format('woff2'),
        url('assets/webfontkit/taroca_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'body-font';
    /* font-family: 'ffinishregular'; */
    src: url('assets/webfontkit/ffinish-webfont.woff2') format('woff2'),
        url('assets/webfontkit/ffinish-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}