/* This file is only concerned with dimensions and grid structure. */

.grid-container {
  display: grid;
  /* grid-template-rows: 11.8% 12.5% 6.4% 5.2% 5.1% 3.7% 25.4% 24.9% 1.1% 3.9%;
  grid-template-columns: 20.9% 12% 19.8% 4.3% 21.7% 12.2% 9.1%; */
  /* width: clamp(800px, 850px, 900px); */
  width: 850px;
  height: 1121px;
  grid-template-rows: 132px 140px 72px 58px 57px 41px 285px 280px 12px 44px;
  grid-template-columns: 178px 102px 168px 37px 184px 104px 77px;
}


/* Top Row */
.title {
  grid-row: 1;
  grid-column: 1;
}

.bio-1 {
  /* character name, player name, experience */
  grid-row: 1;
  grid-column: 2/5;
}

.bio-2 {
  /* ancestry & heritage, background, class, size, alignment, traits, deity */
  grid-row: 1;
  grid-column: 5/7;
}

.bio-3 {
  grid-row: 1;
  grid-column: 7;
}

/* Middle Row (rows 2-5) */

/* first column (1 and 2)*/
.abilities {
  grid-row: 2/5;
  grid-column: 1/3;
}

.class-dc {
  grid-row: 5;
  grid-column: 1/3;
}

/* second column (3 to 5) */
.armor-class {
  grid-row: 2;
  grid-column: 3/6;
}

.saving-throws {
  grid-row: 3/6;
  grid-column: 3/6;
}

/* third column (6 and 7) */
.hit-points {
  grid-row: 2/4;
  grid-column: 6/8;
}

.perception {
  grid-row: 4/6;
  grid-column: 6/8;
}

/* Bottom Row (rows 6-10) */
/* first column (cols 1-3) */
.speed {
  grid-row: 6;
  grid-column: 1/4;
}

.melee {
  grid-row: 7;
  grid-column: 1/4;
}

.ranged {
  grid-row: 8;
  grid-column: 1/4;
}

.weapon-proficiencies {
  grid-row: 9/11;
  grid-column: 1/4;
}

/* second column (cols 4-7) */
.skills {
  grid-row: 6/10;
  grid-column: 4/8;
}

.languages {
  grid-row: 10;
  grid-column: 4/8;
}


/* ABILITY SCORES */
fieldset.abilities {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr 1.5fr 2.5fr 1fr;
  gap: 8px;
}

fieldset.speed {
  display:grid;
  grid-template-columns: 19.3% 15.2% 11.5% 54%;
  grid-template-rows: 1fr;
}
