/* Dimensions and grid structure are in grid.css. */

/*  Colors:
    Dark Blue   #002664
    Dark Red    #5e0000
    Light Red   #98513d
    */


@font-face {
  font-family: 'tarocaregular';
  src: url('assets/webfontkit/taroca_regular-webfont.woff2') format('woff2'),
    url('assets/webfontkit/taroca_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ffinishregular';
  src: url('assets/webfontkit/ffinish-webfont.woff2') format('woff2'),
    url('assets/webfontkit/ffinish-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Global styles */
* {
  overflow: hidden;
  border:none;
  margin:0;
  padding:0;
}

small {
  font-size: 50%;
}

.grid-container {
  /* background-image: url(images/parchment.png); */
  background-image: url(assets/images/charsheet-translucent.png);
  font-family: "ffinishregular";
}

.title {
  background-image: url(assets/images/pathfinder2e_charsheet_title.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

fieldset[class*=bio] {
  display: flex;
  flex-flow: column nowrap;
}

fieldset[class*=bio] input {
  flex: 1;
  margin-bottom: 2px;
}

input[name=character-name] {
  flex: 2.4 !important;
}

div.bio-small {
  display: flex;
}

div.bio-small>input {
  width: 25%;
}

fieldset.bio-3 input {
  width: 100%;
}

/* shrink "Hero Points to fit on one line */
.bio-3>label {
  font-size: 70% !important;
}

.section-header, .tiny-label>label {
  font-family: "tarocaregular";
  background-color: #002664;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 3px;
}


label[for*=score] {
  text-align: right;
}

fieldset.class-dc {
  display:flex;
  justify-content: space-between;
  position:relative;
  top:-30px;
}

.class-dc > div {
  width:15.5%;
  border: 1px solid #002664;
}

#testdiv {
  background-color:purple !important;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
}

.tiny-label{
  background: yellow;
  display:flex;
} 